<form id="form-add">
  <div class="form-group list-bg">
    <label for="burger" class="h2">
      1) Add a burger you'd like to eat
    </label>
    <input
      id="burger"
      type="text"
      class="form-control mx-auto mb-2"
      placeholder="ex. Double Cheeseburger"
      required
    >
    <button
      type="submit"
      class="btn"
    >
      Submit
    </button>
  </div>
</form>