<div class="list-bg">
  <h2>
    2) Eat Burgers Here
  </h2>
    <ul class="text-center">
      {{#each burgers}}
        {{#unless is_devoured}}
          <li>
            {{burger_name}} 
            ordered by 
            {{customer_name}} 
            <button
              class="btn devour"
              data-burger="{{id}}"
            >
              Eat Now
            </button> 
          </li>
        {{/unless}}
      {{/each}}
    </ul>
</div>