<div class="row">
  <div class="col-12 text-center">
    <h6>
      <a
        id="source-code"
        href="https://github.com/BenRGarcia/burger"
        target="_blank"
      >
        View Source Code
      </a>
    </h6>
    <h1 class="display-3 mt-3">
      Eat More Burgers!
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-4 offset-4 text-center">
    <img
      class="img-fluid"
      src="/assets/img/burger.png"
      alt="Picture of double cheeseburger">
  </div>
</div>